[tool.poetry]
name = "ssp"
version = "0.1.0"
description = "Simple template for serverless projects"
authors = ["Erick G. Islas-Osuna <erickisos653@gmail.com>"]
readme = "README.md"
license = "GPLv3"
packages = [{ include = "ssp", from = "src" }]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = { extras = ["dataclasses"], version = "^2.6.4" }

[tool.poetry.group.dev.dependencies]
mypy = "^1.7.1"
black = { version = "^23.11.0", allow-prereleases = true }
isort = "^5.13.2"
bandit = "^1.7.6"
flake8 = "^6.1.0"
pytest = "^7.4.3"
pre-commit = "^3.6.0"
codecov = "^2.1.13"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
skip-string-normalization = true
target-version = ['py39']
preview = true
exclude = '''
/(
    /.git
  | /.mypy_cache
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"

[tool.mypy]
ignore_missing_imports = true
plugins = "pydantic.mypy"
